# set

In [ ]:
 # if we wnat to represent group of valu without duplicate where insertation order
    #is not importanant then we gofor set data type

In [1]:
# insertaion order is not preserved 
# duplicacte are not allowed 
# hetrogeneous object are allowed 
# index concept is not possible due to insertion order is not preservred
# set is mutable (can change value of set )
# growable in nature

In [28]:
# set is presented into {}

In [29]:
a={1,3,4,5,6,7,'uddhav','ajay',33,6457,'raju',11,45,77}

In [30]:
type(a)

set

In [31]:
dir(a)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [32]:
#1 Add ------------ add item in set 
a.add('sadu')
a

{1, 11, 3, 33, 4, 45, 5, 6, 6457, 7, 77, 'ajay', 'raju', 'sadu', 'uddhav'}

In [33]:
#2  clear   to remove all the element from the set 
a.clear()
a

set()

In [34]:
# 3 copy()  -- cretae a mirror imange in anothr varibale

In [35]:
b=a.copy()
b                                # is mirror copy of variable a

set()

In [36]:
# 4 difference ()------ return the element present in "a" but nnot in "b"

x=a.difference(b)
print(x)

set()

In [37]:
q=b.difference(a)   # it mean all element from b is present in 'A'
q

set()

In [38]:
#5  discad  -------it remove the specific element from the set 
# if specific element not present in set we got error 
b

set()

In [39]:
b.discard(33)
b                        # 33 element is discarded

set()

In [40]:
#6  pop ----it remove and return some random element from set 
b.pop()

KeyError: 'pop from an empty set'

In [41]:
b

set()

In [16]:
#7  remove() --------it will remove specified element from the set  if element not present in set it will give the error

In [17]:
b.remove('uddhav')

KeyError: 'uddhav'

In [18]:
b # uddhav is already removed

set()

In [19]:
# 8 intersection--------return comman elelment present in both set 
a.intersection(b)

set()

In [26]:
#9 union()------  used to return all  unique  element present in both set 
a.union(b)

set()

In [21]:
#10  update()-------to add multiple item to the set 
b.update()

In [22]:
b

set()

In [23]:
b.update()

set()