
# Python Operator

In [1]:
# operator is a symbol that performs certion ooperations

In [ ]:
# 1 Arithamatic operator (+,-,*,/,%,//)

In [2]:
#Additions (+)
111+333

444

In [3]:
'uddhav'+"  "+'sadu'

'uddhav  sadu'

In [4]:
True+True

2

In [7]:
#2 substraction(-)
print(222-111)
print((7+8J)-(3+4J))
True-True

111
(4+4j)

0

In [9]:
#multiplication(*)
11*11
print((7+8J)*(3+4J))

(-11+52j)

In [11]:
'ud'*3

'ududud'

In [12]:
True*2333

2333

In [14]:
#4 division(/)
print(222/111)
print((7+8J)/(3+4J))
True/4

2.0
(2.12-0.16j)

0.25

In [16]:
# 5  modulo(%)--- remaing value after complete divion of any numner (baki in marathi)
97%10

7

In [18]:
110%11   # because 110 is is divivded by 11 fully not remaining value so modulus is zero

0

In [19]:
# 6 -----floor division(//)
69//14

4

In [23]:
72//14  #It will give the value near to fully divison of number

5

In [24]:
#7 erponent(**)
10**5   # it mean 10*10*10*10*10

100000

In [25]:
10*10*10*10*10

100000

In [26]:
5**4 # 5*5*5*5

625

# relational or Comparision Operator

In [27]:
# relational or comparision operator always return boolean value 

#(<,>,<=,>=,==(equal,!=(nort equal))

In [29]:
print(45<67)
print(44>98)
print(45==76)
print(55!=88)
print(76<=76)
print(67>=65)

True
False
False
True
True
True

# Logical Operator

In [30]:
#1 and ---- when both argument are true then only retuen true else false 
#2 or-----when at least one argumenmt is true then result is true if all are fail then result is fail
#3 not-----if arguments evaluate to false thrn result is true otherwise false

In [34]:
print(435 and 9854)    # and always return biggest value

9854

In [35]:
1 or 4                  # or retueb always smallest value

1

In [36]:
a=100

In [38]:
not 8  false          #

False

In [39]:
not 0

True

# Assignmaent Operator

In [43]:
# we use the assignment operator to assign the value to the variable 
g='ganesh '   
# here = is the  assignment operator we can combain assignment operator with some other operator to from 
#compound assignment operator 


x='x'+10
'x'+= 10

SyntaxError: 'literal' is an illegal expression for augmented assignment (3594518855.py, line 8)

# indentity operator

In [44]:
#indentity opetartor used for address comparsion
# is       ( if vaiable indicate same data)
#  is not   (id variabale indicate different data)

In [1]:
# x is y return true  if x and y are pointing the same object
x=33
y=45

In [2]:
x is y

False

In [3]:
x is not y

True

In [10]:
# membership operator --- it is use for to check given object is present in given collection
# in and not in are membership operator 

a='uddhav Dahatonde'
print('v' in a)
print('hav' in a )

True
True

In [6]:
b=[12,45,6,76,78,8]

In [7]:
13 in b

False

In [8]:
12 in b

True

# bitwise operator

In [1]:
# there are and (&) and or(|)symbol 
8 & 10   # and return always small value

8

In [2]:
22|88  # or return always big value

94

In [3]:
 # to find binary number 
print(bin(12))  # bin(variable whicch store value )

0b1100

In [4]:
x=22
y=34
x^y

52

# terenary operator

In [9]:
#if condition is true then first value is consider else second value will consider
# Using the ternary operator in Python
x = 10
y = 20
max_value = x if x > y else y
print(max_value)

20