

# Dictionary

In [23]:
a={'name':'uddhav','age':22,'roll_no':33}

In [3]:
type(a)

dict

In [6]:
b=dict(a)

In [7]:
b

{'name': 'uddhav', 'age': 22, 'roll_no': 33}

In [9]:
a.keys()

dict_keys(['name', 'age', 'roll_no'])

In [10]:
a.values()

dict_values(['uddhav', 22, 33])

In [11]:
# dictonery is key value pair 

# 1  duplicate keys are not allowed  but value can be duplicated 
#2   hetrogeneous object are allowed for both key and value 
#3   insertation oreder is not preserved 
#4   dictionary are mutable

In [12]:
a={'name':['uddhav','sadu','pranay'],'age':[22,33,44],'roll_no':[33,11,23]}

In [14]:
type(a)
a

{'name': ['uddhav', 'sadu', 'pranay'],
 'age': [22, 33, 44],
 'roll_no': [33, 11, 23]}

In [15]:
dir (a)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [22]:
#1 clear--- to trmove all entries from list

b.clear()
del b
b          # b is deleted

NameError: name 'b' is not defined

In [19]:
# copy------- to make exact same dictionary or copy of dictionary
b=a.copy()
b

{'name': ['uddhav', 'sadu', 'pranay'],
 'age': [22, 33, 44],
 'roll_no': [33, 11, 23]}

In [24]:
#3   fromkeys-----this method is return a dictionary with specified key and specified values 
#syntax---dict.fromkeys(a,b)
q=('name','age','sakary','city')
b=('uddhav',24,4324435,'pune')
c={}
c=c.fromkeys(q,b)
c

{'name': ('uddhav', 24, 4324435, 'pune'),
 'age': ('uddhav', 24, 4324435, 'pune'),
 'sakary': ('uddhav', 24, 4324435, 'pune'),
 'city': ('uddhav', 24, 4324435, 'pune')}

In [6]:
#4 get()-- get value associated with kay

In [22]:
a

('name', 'age', 'sakary', 'city')

In [7]:
a.get('age')

22

In [8]:
a.get('name')

'uddhav'

In [9]:
#5 items --it retuen the list of tuple representing key value pair 
a.items()

dict_items([('name', 'uddhav'), ('age', 22), ('roll_no', 33)])

In [10]:
#6 keys --- it will retuen all keys associated with dictionary
a.keys()

dict_keys(['name', 'age', 'roll_no'])

In [11]:
#7 values ----- it will return all values associated with dictionary
a.values()

dict_values(['uddhav', 22, 33])

In [16]:
#8 pop-------- it will remove entry associated with key and return it corresponding value 
c.pop('city')    # it will remove city entry and retun it 

# if specified key is not available then it show error

('uddhav', 24, 4324435, 'pune')

In [18]:
#9  popitems  ---------it will remove orbitary item(key value pair from dictionary and return it last key value pair remove by default
c.popitem()

('sakary', ('uddhav', 24, 4324435, 'pune'))

In [19]:
# 10 set default()---------if key is available then it return corresponding value if key is not available then 
# specified key value added as new item to dictionary

In [25]:
a.setdefault('salary',45000)----------key is not available then added key value

45000

In [26]:
a

{'name': 'uddhav', 'age': 22, 'roll_no': 33, 'salary': 45000}

In [28]:
a.setdefault('age',66)

22

In [29]:
a

{'name': 'uddhav', 'age': 22, 'roll_no': 33, 'salary': 45000}

In [33]:
#11 update ----- if all items present in dictionary then we will add more items(key value pair on it)
a.update({'city':'pune','post':['katraj','warje'],'pin':413454})

In [34]:
a

{'name': 'uddhav',
 'age': 22,
 'roll_no': 33,
 'salary': 45000,
 'city': 'pune',
 'post': ['katraj', 'warje'],
 'pin': 413454}