In [2]:
#list
# insertion oreder is preserved
#duplicate allowed 
# growable in nature 
# hetrogeneous object are allowed 
list=[1,2,3,4,5,'uddhav','sadu',True,False,11.34,]

In [3]:
list

[1, 2, 3, 4, 5, 'uddhav', 'sadu', True, False, 11.34]

In [4]:
# function of list 
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [5]:
#append -- to add element at end of list
list.append(555)

In [6]:
list

[1, 2, 3, 4, 5, 'uddhav', 'sadu', True, False, 11.34, 555]

In [7]:
len(list)   # number if element in list

11

In [9]:
list.count(3)  # it count element count in list

1

In [12]:
list.append([1,2,3,4,5])

In [14]:
list.index('sadu')  # it will show the index number of first occurance element

6

In [15]:
# insert 
list

[1, 2, 3, 4, 5, 'uddhav', 'sadu', True, False, 11.34, 555, [1, 2, 3, 4, 5]]

In [21]:
list.insert(2,'inserted_value')   # insert value of specific index position

In [22]:
list

[1,
 2,
 'inserted_value',
 'inserted_value',
 'inserted value',
 3,
 4,
 5,
 'uddhav',
 'sadu',
 True,
 False,
 11.34,
 555,
 [1, 2, 3, 4, 5]]

In [38]:
# extend ---- add item of one list to another list
list

[1,
 2,
 'inserted_value',
 'inserted_value',
 'inserted value',
 3,
 4,
 5,
 'uddhav',
 'sadu',
 True,
 False,
 11.34,
 555,
 [1, 2, 3, 4, 5],
 'n',
 'e',
 'w',
 '_',
 'l',
 'i',
 's',
 't',
 'n',
 'e',
 'w',
 '_',
 'l',
 'i',
 's',
 't',
 'n',
 'e',
 'w',
 '_',
 'l',
 'i',
 's',
 't',
 'n',
 'e',
 'w',
 '_',
 'l',
 'i',
 's',
 't']

In [37]:
new_list

[1,
 2,
 3,
 4,
 1,
 2,
 'inserted_value',
 'inserted_value',
 'inserted value',
 3,
 4,
 5,
 'uddhav',
 'sadu',
 True,
 False,
 11.34,
 555,
 [1, 2, 3, 4, 5],
 'n',
 'e',
 'w',
 '_',
 'l',
 'i',
 's',
 't',
 'n',
 'e',
 'w',
 '_',
 'l',
 'i',
 's',
 't',
 'n',
 'e',
 'w',
 '_',
 'l',
 'i',
 's',
 't',
 'n',
 'e',
 'w',
 '_',
 'l',
 'i',
 's',
 't']

In [40]:
a=[1,
 2,
 'inserted_value',
 'inserted_value',
 'inserted value',
 3,
 4,
 5,
 'uddhav',
 'sadu',
 True,
 False,
 11.34,
 555,
 [1, 2, 3, 4, 5]]
# extend ---- add item of one list to another list
a

[1,
 2,
 'inserted_value',
 'inserted_value',
 'inserted value',
 3,
 4,
 5,
 'uddhav',
 'sadu',
 True,
 False,
 11.34,
 555,
 [1, 2, 3, 4, 5]]

In [41]:
b=[]
type(b)

list

In [42]:
b.extend(a)

In [51]:
b

[1,
 'inserted_value',
 'inserted_value',
 'inserted value',
 4,
 5,
 'uddhav',
 'sadu',
 True,
 False,
 11.34,
 555,
 [1, 2, 3, 4, 5]]

In [49]:
b.remove(2)   # it will remove first occurance of this element

ValueError: list.remove(x): x not in list

In [54]:
b.remove('inserted_value',)  # it remove first occurance of 'inserted_value', from list

In [56]:
b.remove('vivek')  # : list.remove(x): x not in list not in list

ValueError: list.remove(x): x not in list

In [60]:
#pop -----it remove the last element of list and return it or print it 
b
b.pop()

555

In [61]:
b

[1, 'inserted value', 4, 5, 'uddhav', 'sadu', True, False, 11.34]

In [62]:
b.pop(3) # it also remove specific index number element

5

In [74]:
# clear   ----- it will clear all the data from respective list
#b.clear()
b          # list is empty

[]

In [75]:
# copy --- copy the same data from another list 
b=a.copy()

In [76]:
b
type(b)

list

In [77]:
# reverse ----- used for reversed  ordered of elelment of list
b.reverse()

In [78]:
b  # data get reversed

[[1, 2, 3, 4, 5],
 555,
 11.34,
 False,
 True,
 'sadu',
 'uddhav',
 5,
 4,
 3,
 'inserted value',
 'inserted_value',
 'inserted_value',
 2,
 1]

In [79]:
#sort --- in list by deafult insertion order is preserved if we want short element according to
#default natural shorting order thrn go with sort function

a.sort()   #not supported between instances of 'str' and 'int'

TypeError: '<' not supported between instances of 'str' and 'int'

In [80]:
c=[12,33,4,7,78,876876,34435,667,344,57,8,9,4,78,9,4,1]

In [83]:
c.sort()
c

[1, 4, 4, 4, 7, 8, 9, 9, 12, 33, 57, 78, 78, 344, 667, 34435, 876876]

In [88]:
# short high to low
c.sort(reverse=True)
c                             # same will happen with string data

[876876, 34435, 667, 344, 78, 78, 57, 33, 12, 9, 9, 8, 7, 4, 4, 4, 1]