In [1]:
# if we want too execucute a group of statements multiple time then we can go for iterartive statements 
# 1-- for loop  ---execucate some actions on every elements of collection then go for for loop
# 2 -- while loop

In [2]:
# syntax-- for i in (variable /sequence):
#                   stateemt

In [4]:
list_data=['uddhav',3445.65,77,77,7,78788989,998,77,8,9889,78,768,4,'dahatonde']

In [5]:
for i in list_data:
    print(i)

uddhav
3445.65
77
77
7
78788989
998
77
8
9889
78
768
4
dahatonde

In [ ]:
# create table of 2 using loop 
l=[1,2,3,4,5,6,7,8,9,10]
for i in l:
    a=i*2
    print(a)

In [28]:
 for i in range (0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18

# while loop

In [ ]:
# if we want to execucute a group of statement iteratively until some condition false then should go for while loop condition

In [1]:
# syntax= while condition:
#      ststement

In [2]:
# print number 1 to 10 by using while loop

In [3]:
x=1
while x<10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9

In [8]:

files = ['test.csv','python.pdf','asdfsadfsdf','hadoop.csv','ml.pdf','dl.csv','copper.xlsx','test.pdf','sample.xlsx','sdfaasdfasdfsdsdf']

In [15]:
csv=[]
pdf=[]
xlxs=[]
invalid_file=[]

for i in files :
    if i.endswith('.csv'):
        csv.append(i)
    elif i.endswith('xlsx'):
        xlxs.append(i)
    elif i.endswith('.pdf'):
        pdf.append(i)
    else:
        invalid_file.append(i)

In [16]:
invalid_file

['asdfsadfsdf', 'sdfaasdfasdfsdsdf']

In [13]:
csv

['test.csv', 'hadoop.csv', 'dl.csv']

In [17]:
xlxs

['copper.xlsx', 'sample.xlsx']

In [21]:
# to display the  sum of first n numbers 
n=int(input('enter your number :'))
sum=0
initial=1
while initial<n:
    sum=sum+initial
    initial=initial+1
    
print('the sum of first n number is :',sum)

enter your number :10
the sum of first n number is : 45

# loop trasfer statement :
#1 break

In [22]:
#  break statement inside the loop execution based on  some condition

In [6]:
 for i in range (1,17):
        if i==7:
            break
        print(i)

1
2
3
4
5
6

# continue

In [7]:
# we can use the continue statement to skip current iteration and continue next iteration

In [8]:
# print odd number in range 
for i in range(0,21):
    if i%2==0:
        continue 
    print(i)

1
3
5
7
9
11
13
15
17
19